#root {
  max-width: 1280px;
  text-align: center;
}

.app-container {
  width: 100vw;
  height: 100%;
}

.nav-bar {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  box-sizing: border-box;
  border-bottom: 2px solid currentColor;
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0;
  background-color: #242424;
}

.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutPage h2 {
  padding: 0 6rem;
}

.App h3 {
  margin-top: 0;
}

.nav-item {
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 700;
}

.crewmate-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  gap: 20px;
  padding: 3rem;
}

.card-container {
  padding: 20px;
  text-align: center;
  height: 200px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: #373b3c;
}

.card-container:hover {
  background-color: #ffffff;
  color: #213547;
}

.create-crewmate-form-container {
  width: 80%;
  /* display: flex; */
  /* flex-direction: column;
  align-items: flex-start; */
}

.radio-form-group {
  width: 300px;
  /* background-color: #ffffff; */
  margin: 0 auto;
  padding: 5px;
  text-align: left;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  padding: 15px;
  border-radius: 6px;
  border: none;
  width: 300px;
  font-weight: 600;
  font-size: 20px;
}

input[type="submit"] {
  padding: 15px;
  border-radius: 6px;
  width: 200px;
  outline: none;
  border: 1px solid currentColor;
  background-color: #ffffff;
  color: #213547;
  cursor: pointer;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.1s ease;
}

input[type="radio"] {
  align-self: left;
}
