#root {
  max-width: 1280px;
  text-align: center;
}

.app-container {
  width: 100vw;
  height: 100%;
}

.nav-bar {
  width: 100%;
  height: 100px;
  /* background-color: aliceblue; */
  padding: 0.5rem;
  box-sizing: border-box;
  border-bottom: 2px solid currentColor;
  display: flex;
  align-items: center;
  gap: 10px;
}

.App {
  padding: 1rem;
}

.nav-item {
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 700;
}

.crewmate-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* add some space between the columns */
  padding: 3rem;
}

.card-container {
  border: 2px solid currentColor;
  padding: 10px;
  text-align: center;
  height: 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
